
.App__constraint {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.App__intro {
  height: 130vh;
  overflow: hidden;
  padding: 160px 0;
  margin-bottom: -10rem;
  background: linear-gradient(90deg, #ff8d00, #a5007d, #26186f);
  transform: skewY(-11deg);
  transform-origin: 0;
  transition: all 0.2s ease;
}

.App__intro-member {
  height: 760px;
  transform: skewY(-12deg) translateY(-160px);
}

small {
  color: white;
  font-size: 1.6rem !important;
  position: relative;
  margin-left: 20rem;
}

small::after {
  content: '';
  width: 100vw;
  height: 30px;
  background: rgba(255, 193, 7, 0.55);
  position: absolute;
  top: -5px;
  left: -20px;
  z-index: -1;
  border-radius: 16px;
}

.App__header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 2rem;
  z-index: 1;
  width: 100%;
  padding: 0 1rem;
}

.App__button {
  border-radius: 6px;
  border: 0 !important;
  box-shadow: 0px 4px 20px #00000021;
  width: 160px;
  height: 42px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 0 1rem;
}

.App__button:hover {
  transform: scale(0.9);
  box-shadow: 0px 2px 20px #00000050;
}

.App__button.make {
  position: absolute;
  left: 2rem;
  top: 2rem;
  z-index: 2;
}

.App__container {
  margin-top: 30rem;
  padding-left: 6rem !important;
}

.App__container-header {
  font-size: 4.6rem;
  color: white;
  margin: 1.5rem 0;
  position: relative;
}

.App__container-header::before {
  content: '';
  width: 100vw;
  position: absolute;
  height: 65px;
  background: #e22b7c78;
  left: -30px;
  border-radius: 50px;
  z-index: -1;
}

.App__container-header:nth-child(2)::before {
  background: #6b2be278;
}

.App-nav {
  width: 100%;
  padding: 20px 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.App__contents-title {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 20px 0;
}

.App__categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 3rem 0;
}

.App__category {
  width: 200px;
  height: 200px;
  margin: 0 14px 14px 0;
  box-shadow: 0px 4px 16px #00000020;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}

.App__category:hover {
  box-shadow: 0px 10px 20px 3px #00000020;
  transition: all 0.2s ease;
  transform: translateY(-3px);
}

.App__text {
  color: white;
  font-size: 1.6rem;
  margin: 2rem 0;
}

.App__text-black {
  color: black;
  font-size: 2.4rem;
}

.category-emoji {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 2px;
}

.category-title {
  color: white;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

em {
  font-style: normal;
  position: relative;
  color: black;
}

@media screen and (max-width: 560px) {
  .App__container-header {
    font-size: 3rem;
  }

  .App__button {
    width: 100px;
    margin: 0 0.4rem;
  }

  .App__category {
    width: 45%;
    height: 150px;
  }

  small {
    margin-left: 0;
  }

  .App__container-header::before {
    height: 4rem;
  }

  .App__text {
    font-size: 1.4rem;
  }
}

.tooltip-joinner {
  position: relative;
}

.tooltiptext-joinner {
  visibility: hidden;
  width: 120%;
  background-color: #673ab7;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 109%;
  margin-left: -100%;
}

.tooltip-joinner:hover .tooltiptext-joinner {
  visibility: visible;
}
