.App-intro {
  background-image: url("/images/angomi3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0 auto;
  border-radius: 0;
  height: 500px;
  padding: 4rem 2rem;
}

.App__contents {
  height: 100vh;
}

.App-container {
  color: white;
  margin-top: 200px;
}

.App-navbar {
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
}