@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,400,500');

html {
  box-sizing: border-box;
  font-size: 10px;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Gothic+A1', sans-serif !important;
  font-weight: 400 !important;
  font-size: 1rem;
}

ul, li {
  list-style: none;
}

button {
  cursor: pointer;
}

body.modal-open {
  overflow: hidden;
}

body.hidden {
  height: 100vh;
  overflow: hidden;
}

.form-control:disabled, .form-control[readonly] {
  background-color: white !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
