@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,400,500');

html {
  box-sizing: border-box;
  font-size: 10px;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Gothic+A1', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

body.modal-open {
  overflow: hidden;
}

ul, li {
  list-style: none;
}

button {
  cursor: pointer;
}

.form-control:disabled, .form-control[readonly] {
  background-color: white !important;
}