@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,400,500')

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gothic+A1', sans-serif;
  font-weight: 400;
}

ul, li {
  list-style: none;
}