.MakeParty-overlay {
  position: fixed;
  z-index: 10;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.close-button {
  background-color: transparent;
  box-shadow: none;
  font-size: 20px;
  position: absolute;
  right: 10px;
}

.close-button:hover {
  background-color: transparent;
}

.MakeParty-group {
  width: 600px;
  height: 700px;
  background: white;
  padding: 20px;
  position: relative;
}

.MakeParty-form {
  display: flex;
  flex-direction: column;
  margin: 40px 10px;
}

.MakeParty-form label {
  font-weight: 700;
  padding-right: 10px;
  display: inline-block;
  width: 30%;
  text-align: right;
}
.MakeParty-form input {
  width: 70%;
  padding-left: 5px;
  font-size: 20px;
  margin: 10px 0;
}

.submit {
  margin: 0 auto;
  margin-top: 40px;
}

.MakeParty-form input::-webkit-input-placeholder {
  font-size: 18px;
}

.MakeParty-form textarea {
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
}

.MakeParty-form textarea::-webkit-input-placeholder {
  font-size: 20px;
}
