.MakeParty-overlay {
  position: fixed;
  z-index: 10;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.MakeParty-title  {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 3rem;
  align-items: flex-start;
  position: relative;
}

.MakeParty-title h3 {
  font-size: 3rem;
}

.MakeParty-group {
  width: 600px;
  background: white;
  padding: 4rem 3rem;
  position: relative;
  border-radius: 6px;
}

.MakeParty-form {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  font-size: 1.6rem;
  line-height: 2;
}

.MakeParty__inline {
  display: flex;
  justify-content: space-between;
}

.MakeParty__button {
  background: #FF7744;
  border: #FF7744;
  color: white;
  padding: 1.4rem 0 !important;
  box-shadow: 0px 2px 16px rgba(255, 119, 68, 0.5);
  font-size: 1.4rem !important;
  transition: all 0.4s ease;

}

.MakeParty__button:hover {
  transform: scale(0.98);
}

.MakeParty__form-control.form-control {
  padding-left: 1.6rem;
  font-size: 1.8rem;
  line-height: 1.5 !important;
}

.MakeParty__autocomplete {
  
}

.MakeParty__autocompleteItem {
  padding-left: 1.6rem;
  padding-right: 1.6.rem;
  font-size: 1.8rem;
  line-height: 1.5;
  cursor: pointer;
}

textarea {
  height: 20rem !important;
}

@media screen and (max-width: 600px) {
  .MakeParty-group {
    border-radius: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
}
