.PartyComments {
  flex: 1;
  border-top: 1px solid #bfbfbf;
  padding-top: 12px;
}

.PartyComments__list {
  padding: 0px;
  font-size: 14px;
}

.PartyComments__comment {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.PartyComments__comment img {
  width: 25px;
  height: 25px;
  border-radius: 13px;
  margin-right: 5px;
}

.PartyComments__commentUser {
  margin-right: 3px;  
}

.PartyComments__commentContent {
  flex: 1;
}

.PartyComments__actions {
  width: 50px;
  padding-left: 5px;
  text-align: right;
}

.PartyComments__comment--input {
  /* border-top: 1px solid #999; */
  padding-top: 5px;
}

.PartyComments__comment--input form {
  flex: 1;
}

.PartyComments__comment--input form input {
  width: 100%;
}

.comment-text {
  line-height: 31px;
  font-size: 12px;
}