.PartyList {
  padding: 20px;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.PartyList__parties {
  padding: 0;
  max-width: 1200px;
}

.PartyList__party {
  width: 32%;
  padding: 10px;  
  display: inline-block;
}

.PartyList__partyContent {  
  padding: 10px;
  box-sizing: border-box;    
  position: relative;  
  height: 330px;
  overflow-y: auto;
  border-radius: 6px;  
  margin-right: 5px;
  border: 1px solid darkorange;
}

@media screen and (max-width: 800px) {
  .PartyList__party {    
    width: 50%;
  }

  .PartyList__partyContent {
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .PartyList__party {    
    width: 100%;
    margin-bottom: 10px;
  }
}

.PartyList__partyButtons {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.PartyList__label {
  font-weight: bold;
  margin-right: 10px;
}

.PartyList__label--partyMembers {
  margin-top: -25px
}

.PartyList__joinnersPhoto {
  display: inline-block;
}

.PartyList__joinners img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
}