.PartyList {
  padding: 20px;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.PartyList__parties {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
}

.PartyList__party {
  position: relative;
  width: 32%;
  border-radius: 6px;
  padding: 10px;
  margin: 20px 0px;
  flex-wrap: wrap;
  border: 1px solid darkorange;
}

.PartyList__partyContent {
  height: 330px;
  overflow-y: auto
}

.PartyList__partyButtons {
  position: absolute;
  bottom: 0px;
  right: 2px;
}

.PartyList__label {
  font-weight: bold;
  margin-right: 10px;
}

.PartyList__label--partyMembers {
  margin-top: -25px
}

.PartyList__joinnersPhoto {
  display: inline-block;
}

.PartyList__joinners img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
}