.PartyComments {
  flex: 1;
  border-top: 1px solid #bfbfbf;
}

.PartyComments__list {
  padding: 0px;
  font-size: 14px;
}

.PartyComments__comment {
  display: flex;
  flex-direction: row;
  margin: 1.6rem 0;
  font-size: 1.6rem;
}

.PartyComments__comment .PartyComments__userImage {
  width: 25px;
  height: 25px;
  border-radius: 13px;
  margin-right: 1rem;
  margin-top: 0.2rem;
}

.PartyComments__commentline {
  line-height: 1.5;
  font-size: 1.6rem;
  width: 85%;
  display: inline-block;
  word-break: keep-all;
}

.PartyComments__commentUser {
  margin-right: 3px;
  position: relative;
}

.PartyComments__commentUser span {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.6rem;
}

.PartyComments__buttons {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 1.4rem;
}

.PartyComments__commentContent {
  flex: 1;
  line-height: 1.5 !important;
}

.PartyComments__actions {
  width: 50px;
  padding-left: 5px;
  text-align: right;
}

.PartyComments__comment--input {
  /* border-top: 1px solid #999; */
  /* border-bottom: 1px solid #99999970; */
  padding-bottom: 1rem;
}

.PartyComments__comment--input form {
  flex: 1;
}

.PartyComments__comment--input form input {
  width: 100%;
}

.comment-text {
  line-height: 31px;
  font-size: 12px;
}

.PartyComments__group {
  width: 100%;
}

.partyComments__createdAt {
  color: gray;
  line-height: 1 !important;
  width: 15%;
  display: inline-block;
  text-align: right;
}

.PartyDetail__partyContent .PartyList__tags {
  position: relative;
}

.PartyComments__nocomment {
  font-size: 1.4rem;
  padding: 1rem 0;
  color: gray;
  text-align: center;
  font-weight: 300;
  font-style: italic;
}

.PartyComments__comment .MakeParty__form-control {
  font-size: 1.6rem;
}

.PartyComments__edited {
  font-weight: 600;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 560px) {
  .PartyComments__commentline {
    width: 85%;
  }
  
  .partyComments__createdAt {
    font-size: 1rem;
  }
}